AppVentaAngular/app/node_modules/
AppVentaAngular/app/node_modules/**
AppVentaAngular/app/.angular/
AppVentaAngular/app/.angular/**
WSVenta/WSVenta/bin/
WSVenta/WSVenta/bin/**
WSVenta/WSVenta/obj/
WSVenta/WSVenta/obj/**
.gitignore
.vs/